body {
  display: block;
  margin: 0;
  font-family: 'Rokkitt', serif;
}

#top1 {
  display: block;
  background-color: #2e4849;
  width: 100%;
}

#bottom1 {
  display: block;
  background-color: #526563;
  width: 100%;
  position: relative;
    bottom: 5px;
  padding-left: 45px;
  margin-bottom: 60px;
}

h1{
  margin: 0.5em 0.6em;
  color: #2e4849;
  font-weight: bold;
  letter-spacing: -1px;
}

p {
  margin: 0.5em 1.3em;
  color: #526563;
  line-height: 150%;
  font-size: larger;
  font-weight: bold;
}

.horizontal_dotted_line{
  background-image: url("dash-horizontal.png");
  background-repeat: repeat-x;
  color: white;
  margin: 2.5cm .7cm;
}

.center{
  text-align: center;
}
.padding{
  padding-bottom: 1cm;
}

.brown{
  color: #714f2b;
  font-family: sans-serif;
  line-height: 200%;
}

h2 {
  color: #709b4b;
  font-family: sans-serif;
  line-height: 220%;
  font-size: 1.2em;
}

hr {
  color: #DAD5D2;
  background: #A6968A;
  width: 75%;
  opacity: .3;
  margin-top: 3cm;
}
.wood{
  background-image: url("wood-bg.png");
  background-repeat: repeat-y;
}

.imgpadding{
  padding: 2cm 0;
  width: 80%;
}

.circle {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
  padding: 8px;
  padding: 4px;
  border: 3px solid #D0572B;
  margin-top: 3.5em;
}

.yellow {
  color: #EAC041;
  font-family: 'Rokkitt', serif;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0;
  font-weight: normal;
}

.white {
  color: white;
  font-family: 'Rokkitt', serif;
}

.time {
  color: white;
  font-family: 'Rokkitt', serif;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0;
  font-weight: normal;
}

.meridian {
  color: white;
  font-family: 'Rokkitt', serif;
  margin: 0;
  font-size: 1.3em;
  position: relative;
  top: -.5em;
}

.white_h2{
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

.white_tiny{
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 200%;
  margin: 0 25px;
}

.blue {
  background-color: #C9ECF7;
}

.faq {
  padding-top: 2cm;
  width: 50%;
}
ul {
   list-style-image: url('plus-bullet.png');
   color: #714f2b;
   font-family: 'Rokkitt', serif;
   font-size: 25px;
   font-weight: bolder;
   letter-spacing: -.8px;
}
li {
  padding: 25px 0;
  text-align: left;
}
